<header>
  <div class="nav-container">
    <nav>
      <ul>
        <img src="images/logo3.jpg" class="logo">
      </ul>
      <ul class"menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>